mixin main-nav(params)
  nav.main-nav
    ul
      each link in params
        if link.expanded != undefined
          li.main-nav__link.main-nav__link_x.main-nav__link_expanded
            a(href = '#', class = link.isActive ? 'isActive' : null) #{link.label}
              i(class = 'fas fa-chevron-down')
            ul.main-nav__expanded-list
              each expanded_link in link.expanded
                li.main-nav__link.main-nav__link_y
                  a(href='#', class = expanded_link.isActive ? 'isActive' : null) #{expanded_link.label}
                
        else  
          li.main-nav__link.main-nav__link_x
            a(href = '#', class = link.isActive ? '_isActive' : null) #{link.label}
      block