.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1220px;
  min-width: 990px;
  padding: 0 30px;
  flex-grow: 1;

  &_center {
    justify-content: center;
  }
}
