.btn {
  text-transform: uppercase;
  cursor: pointer;
  font-size: 12px;
  position: relative;

  &_lg {
    width: 100%;
    height: $height_main;
  }

  &_md {
    width: 100px;
    height: $height_main;
    background-color: transparent;
  }

  &_nav-login {
    width: 80px;
    height: 34px;
  }

  &_nav-reg {
    width: 100px;
    height: 34px;
  }

  &_filed {
    border: none;
    border-radius: 22px;
    background-image: $purple_gradient;
    font-family: MontseratBold, sans-serif;
    color: #fff;
  }


  &_border {
    font-family: MontseratBold, sans-serif;
    color: $purple_main;
    border-radius: 22px;
    border: double 2px transparent;
    background-image: linear-gradient(#fff, #fff), $purple_gradient;
    background-origin: border-box;
    background-clip: padding-box, border-box;
  }

  &_disabled {
    opacity: 0.5;
  }

  &_arrow {

    .fa-arrow-right {
      font-size: 18px;
      position: absolute;
      top: calc(50% - 9px);
      left: 90%;
    }
  }
}
