include mixins.pug
- var navLinks = [ { label: 'Home', path: '/', isActive: true }, { label: 'About Us', path: '/about' }, { label: 'Services', path: '/services'}, { label: 'Careers', path: '/careers', expanded: [{label: 'First', path:'/careers/first'}, {label: 'Second', path:'/careers/second'}] }, { label: 'News', path: '/news' }, { label: 'Documentation', path: '/doc', expanded: [{label: 'First', path:'/documentation/first'}, {label: 'Second', path:'/documentation/second'}, {label: 'Third', path:'/documentation/second'}]}]
doctype html
html(class='page  no-js', lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //- Edge и ряд мобильных браузеров слишком умны. Отключим это.
    meta(name='format-detection', content='telephone=no')
    meta(name='format-detection', content='date=no')
    meta(name='format-detection', content='address=no')
    meta(name='format-detection', content='email=no')
    meta(content='notranslate', name='google')
    block meta
      title Home

    block head
      link(href='https://fonts.googleapis.com/css?family=Open+Sans:700&display=swap', rel='stylesheet')
      link(rel='stylesheet', href='css/style.css')
      script
        block scripts
        

  body
    noscript У вас отключен JavaScript. Это пугает.

    .page__inner
      .page__content
        .page__header
          .container
            +header
              +logo
              .page__nav-acc-wrap
                +main-nav(navLinks)
                .accounting-wrap

                  if userName != undefined
                    p.user-name #{userName}
                  else
                    a(href = '#')
                      +btn({size:'nav-login', type:'border', value:'Login'})
                    .accounting-wrap-btn 
                      a(href = '#')
                        +btn({size:'nav-reg', type:'filed', value:'Register'})
       
        block content

      .page__footer
        .container
          block footer

    block page-bottom
      script(src='js/bundle.js')
