//- Стандартный шаблон страницы

include mixins.pug
- var navLinks = [ { label: 'Home', path: '/', isActive: true }, { label: 'About Us', path: '/about' }, { label: 'Services', path: '/services'}, { label: 'Careers', path: '/careers' }, { label: 'News', path: '/news' }, { label: 'Documentation', path: '/doc'}]
doctype html
html(class='page  no-js', lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //- Edge и ряд мобильных браузеров слишком умны. Отключим это.
    meta(name='format-detection', content='telephone=no')
    meta(name='format-detection', content='date=no')
    meta(name='format-detection', content='address=no')
    meta(name='format-detection', content='email=no')
    meta(content='notranslate', name='google')
    block meta
      title Home

    block head
      link(href='https://fonts.googleapis.com/css?family=Open+Sans:700&display=swap', rel='stylesheet')
      link(rel='stylesheet', href='css/style.css')
      script
        include ../js/head-script.js
        include ../../node_modules/@fortawesome/fontawesome-free/js/all.min.js
        

  body
    noscript У вас отключен JavaScript. Это пугает.

    .page__inner
      .page__header
        block header
          +header
            +logo
            +main-nav(navLinks)
              li
                .nav__accounting-wrap
                  if userName != undefined
                    p #{userName}
                  else
                    a(href = '/login')
                      +btn({size:'nav-login', type:'border', value:'Login'})
                    .nav__accounting-wrap-btn-wrap  
                      a(href = '/register')
                        +btn({size:'nav-reg', type:'filed', value:'Register'})
      .page__content
        block content
          p содержимое

      .page__footer
        block footer

    block page-bottom
      script(src='js/bundle.js')
