// Файл создан автоматически смотри gulpfile.js (function writePugMixinsFile) 

include ../blocks/btn/btn.pug
include ../blocks/form/form.pug
include ../blocks/header/header.pug
include ../blocks/input/input.pug
include ../blocks/logo/logo.pug
include ../blocks/main-nav/main-nav.pug
include ../blocks/page-footer/page-footer.pug
