- 
    var navLinks = [
        {
        label: 'Home',
        path: '/',
        isActive: true
        }, {
        label: 'About Us',
        path: '/about'
        }, {
        label: 'Services',
        path: '/services'
        }, {
        label: 'Careers',
        path: '/careers',
        expanded: [{
            label: 'First',
            path: '/careers/first'
        }, {
            label: 'Second',
            path: '/careers/second'
        }]
        }, {
        label: 'News',
        path: '/news'
        }, {
        label: 'Documentation',
        path: '/doc',
        expanded: [{
            label: 'First',
            path: '/documentation/first'
        }, {
            label: 'Second',
            path: '/documentation/second'
        }, {
            label: 'Third',
            path: '/documentation/second'
        }]
    }]