- 
    var navLinks = [
        {
        label: 'Home',
        path: '/',
        isActive: true
        }, {
        label: 'About Us',
        path: '/about'
        }, {
        label: 'Services',
        path: '/services'
        }, {
        label: 'Careers',
        path: '/careers',
        expanded: [{
            label: 'First',
            path: '/careers/first'
        }, {
            label: 'Second',
            path: '/careers/second'
        }]
        }, {
        label: 'News',
        path: '/news'
        }, {
        label: 'Documentation',
        path: '/support/doc'
    }]

    var linksList = [
    {
    label: 'Navigation',
    path: '/',
    links: [{
        value: 'About Us',
        path: '/about'
        },
        {
        value: 'News',
        path: '/news'
        },
        {
        value: 'Support',
        path: '/support'
        },
        {
        value: 'Products',
        path: '/products'
        },
    ]
    }, {
    label: 'About Us',
    path: '/about',
    links: [{
        value: 'Who we are',
        path: '/about/we'
        },
        {
        value: 'Our Team',
        path: '/about/team'
        },
        {
        value: 'Careers',
        path: '/about/careers'
        },
        {
        value: 'Investors',
        path: '/about/investors'
        },
    ]
    }, {
    label: 'Support',
    path: '/support',
    links: [{
        value: 'Documentation',
        path: '/support/doc'
        },
        {
        value: 'Community',
        path: '/support/community'
        },
        {
        value: 'Get in Touch',
        path: '/support/touch'
        },
    ]
    }]