mixin footer
  footer.footer
    p.footer__copyright Copyright © 2018 Toxin UI Kit. All rights reserved.
    .footer__socials
        img(src='img/facebook.svg').footer__social-icon.footer__social-icon_facebook
        img(src='img/twitter.svg').footer__social-icon.footer__social-icon_twitter
        img(src='img/inst.svg').footer__social-icon.footer__social-icon_inst