extends ../pug/layout.pug

block meta
  title Главная
  meta(name='description', content='')

block content
  .page__background.page__background_auth
    .container.container_center
      include ../components/registration-form.pug 