mixin logo(params)
  if params !== undefined || params !== null
   -
  a(href='/')
    .logo
      object(type = 'image/svg+xml', data = '../img/logo.svg', width = '40', height = '40')
      object(type = 'image/svg+xml', data = '../img/TOXIN.svg', width = '54', height = '13')
