mixin logo(params)
  if params !== undefined || params !== null
   -
  a(href='/')
    .logo
      img( src = './img/logo.svg', width = '40', height = '40')
      img( src = './img/TOXIN.svg', width = '54', height = '13')
