.form-wrap
  +form({type: 'auth', label: "Log in"})
    .form__input-wrap  
      +input({type:'mail'})
    .form__input-wrap  
      +input({type:'password'})
    .form__btn-wrap_lg
      +btn({size:'lg', type:'filed', style:'arrow', value: 'Log in'})
    .form__accounting-wrap
      span.accounting Still haven't account?
      a(href = '/register')
        +btn({type: 'border', value: 'Register', size:'md'})      