mixin form(params)
  if params != undefined || params != null
    - var {type, label} = params
  if (type == undefined)
    p фигня какая то
  else
    form(class=`form form_${type}`)&attributes(attributes)
      .form__label
        h1 #{label}
      block
